@mixin ember-attacher-show-transform($position, $animation) {
  @if ($animation == 'perspective') {
    @if ($position == 'top') {
      transform: translateY(-10px) rotateX(0);
    } @else if ($position == 'bottom') {
      transform: translateY(10px) rotateX(0);
    } @else if ($position == 'left') {
      transform: translateX(-10px) rotateY(0);
    } @else if ($position == 'right') {
      transform: translateX(10px) rotateY(0);
    }
  } @else if ($animation == 'fade') {
    @if ($position == 'top') {
      transform: translateY(-10px);
    } @else if ($position == 'bottom') {
      transform: translateY(10px);
    } @else if ($position == 'left') {
      transform: translateX(-10px);
    } @else if ($position == 'right') {
      transform: translateX(10px);
    }
  } @else if ($animation == 'scale') {
    @if ($position == 'top') {
      transform: translateY(-10px) scale(1);
    } @else if ($position == 'bottom') {
      transform: translateY(10px) scale(1);
    } @else if ($position == 'left') {
      transform: translateX(-10px) scale(1);
    } @else if ($position == 'right') {
      transform: translateX(10px) scale(1);
    }
  }
}

@mixin ember-attacher-hide-transform($position, $animation) {
  @if ($animation == 'perspective') {
    @if ($position == 'top') {
      transform: translateY(0) rotateX(90deg);
    } @else if ($position == 'bottom') {
      transform: translateY(0) rotateX(-90deg);
    } @else if ($position == 'left') {
      transform: translateX(0) rotateY(-90deg);
    } @else if ($position == 'right') {
      transform: translateX(0) rotateY(90deg);
    }
  } @else if ($animation == 'shift') {
    @if ($position == 'top') {
      transform: translateY(0);
    } @else if ($position == 'bottom') {
      transform: translateY(0);
    } @else if ($position == 'left') {
      transform: translateX(0);
    } @else if ($position == 'right') {
      transform: translateX(0);
    }
  } @else if ($animation == 'scale') {
    @if ($position == 'top') {
      transform: translateY(0) scale(0);
    } @else if ($position == 'bottom') {
      transform: translateY(0) scale(0);
    } @else if ($position == 'left') {
      transform: translateX(0) scale(0);
    } @else if ($position == 'right') {
      transform: translateX(0) scale(0);
    }
  } @else if ($animation == 'none') {
    @if ($position == 'top') {
      transform: translateY(-10px);
    } @else if ($position == 'bottom') {
      transform: translateY(10px);
    } @else if ($position == 'left') {
      transform: translateX(-10px);
    } @else if ($position == 'right') {
      transform: translateX(10px);
    }
  }
}

@mixin circle-transform-hide($position) {
  @if ($position == 'top') {
    transform: scale(0) translate(-50%, -50%);
  } @else if ($position == 'bottom') {
    transform: scale(0) translate(-50%, -50%);
  } @else if ($position == 'left') {
    transform: scale(0) translate(-50%, -33%);
  } @else if ($position == 'right') {
    transform: scale(0) translate(-50%, -33%);
  }
}

@mixin arrow($position, $width) {
  @if ($position == 'top') {
    transform: rotate(-45deg);
    bottom: -$width/2;
  } @else if ($position == 'bottom') {
    transform: rotate(135deg);
    top: -$width/2;
  } @else if ($position == 'left') {
    transform: rotate(225deg);
    right: -$width/2;
    top: 50%;
  } @else if ($position == 'right') {
    transform: rotate(45deg);
    left: -$width/2;
    top: 50%;
  }
}

$positions: 'top', 'bottom', 'left', 'right';
$origins: bottom, top, right, left;
$arrow-width: 10px;

.popper {
  min-height: 10px;

  > .inner {
    max-width: 400px;
    perspective: 800px;
    z-index: 9999;
  }

  @each $position in $positions {
    &[x-placement=#{$position}] > .inner {
      > div[x-arrow] {
        @include arrow($position, $arrow-width);
      }

      $circle-origins: 0% 50%, 0% -50%, 50% 5%, -50% 5%;

      > div[x-circle] {
        opacity: 0;
        transform-origin: nth($circle-origins, index($positions, $position));
        @include circle-transform-hide($position);
      }

      &.ember-attacher-fill {
        opacity: 0;
        @include ember-attacher-hide-transform($position, 'shift')
      }

      &.ember-attacher-none {
        opacity: 1;
        @include ember-attacher-hide-transform($position, 'none');
      }

      &.ember-attacher-fade {
        opacity: 0;
        @include ember-attacher-show-transform($position, 'fade')
      }

      &.ember-attacher-shift {
        opacity: 0;
        @include ember-attacher-hide-transform($position, 'shift')
      }

      &.ember-attacher-scale {
        opacity: 0;
        @include ember-attacher-hide-transform($position, 'scale')
      }

      &.ember-attacher-perspective {
        transform-origin: nth($origins, index($positions, $position));

        opacity: 0;
        @include ember-attacher-hide-transform($position, 'perspective');
      }

      &.ember-attacher-show {
        > div[x-circle] {
          opacity: 1;
          transform: scale(1) translate(-50%, -47.5%);
        }

        &.ember-attacher-fill {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'fade')
        }

        &.ember-attacher-none {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'fade');
        }

        &.ember-attacher-fade {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'fade')
        }

        &.ember-attacher-shift {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'fade')
        }

        &.ember-attacher-scale {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'scale')
        }

        &.ember-attacher-perspective {
          opacity: 1;
          @include ember-attacher-show-transform($position, 'perspective');
        }
      }
    }
  }
}

.tooltip > .inner, .popover > .inner {
  position: relative;
  color: white;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;

  &.ember-attacher-fill {
    overflow: hidden;
    background-color: transparent;
  }

  > div[x-arrow] {
    z-index: -1;
    position: absolute;
    width: $arrow-width;
    height: $arrow-width;
    background-color: #333;
    border: 1px solid;
    border-color: transparent transparent #333 #333;
  }

  > div[x-circle] {
    position: absolute;
    will-change: transform;
    background-color: #333;
    border-radius: 50%;
    width: 120%;
    width: calc(100% + 2rem);
    left: 50%;
    transition: all ease-out;
    z-index: -1;
    opacity: 0;
    overflow: hidden;

    &::before {
      content: '';
      padding-top: 100%;
      padding-top: calc(75% + 2rem);
      float: left;
    }
  }
}

.popover > .inner {
  color: black;
  background-color: #fff;
  border-radius: 0;

  > div[x-arrow] {
    background-color: #fff;
    border: none;
  }

  > div[x-circle] {
    background-color: #fff;
  }
}

.light-theme > .inner {
  color: #203d5d;
  box-shadow: 0 0 16px -4px rgba(0,20,40,0.2), 0 0 80px -10px rgba(0,20,40,0.3);
  background-color: #f3f6f9;
  border: 1px solid #ced2e2;

  > div[x-arrow] {
    background-color: #f3f6f9;
    border-color: transparent transparent #ced2e2 #ced2e2;
  }

  > div[x-circle] {
    background-color: #f3f6f9;
  }
}

@media (max-width: 500px) {
  .tooltip > .inner, .popover > .inner {
    max-width: 96%;
    max-width: calc(100% - 20px);
  }
}
