@import 'ember-power-select';

body {
  color: #fcfcfc;
  font-family: helvetica;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  max-height: 100vh;
  overflow: auto;
}

h3 {
  margin: 5px;
  text-align: center;
}

p {
  margin: 0;
  padding: 6px;
  text-align: center;
}

.header {
  color: #333;
  padding: 6px;

  .title {
    font-size: 34px;
  }
}

.github-link {
  color: inherit;
  cursor: pointer;
  padding-right: 6px;
  text-decoration: none;
}

.content {
  background-color: #3a6a9a;
}

.nav {
  background-color: #eee;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  padding: 8px;

  &.active {
    background-color: #ddd;
    font-weight: bold;
  }
}

.edit-section,
.section {
  padding: 18px;
  padding-bottom: 0;
}

.button {
  background-color: #fff;
  border-bottom: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-radius: 4px;
  border-right: 1px solid #aaaaaa;
  border-top: 1px solid #aaaaaa;
  color: #333;
  font-family: monospace;
  font-size: inherit;
  line-height: 1.75;
  margin: 1px;
  position: relative;
  text-align: center;

  &.medium {
    min-width: 80px;
    width: 80px;
  }

  &.large {
    min-width: 145px;
    width: 145px;
  }

  &.xlarge {
    min-width: 185px;
    width: 185px;
  }
}

.edit-me {
  background-color: #ddd;
  color: #333;
  font-family: monospace;
  font-size: 16px;
  max-width: 100vw;
  overflow: auto;
  padding: 8px;

  hbox {
    min-height: 30px;
  }
}

.popper-area {
  background-color: #ddd;
  min-height: 100px;
}

.hover-me {
  color: #111;
  cursor: inherit;
  font: inherit;
  padding: 10px;
  transform: translate(0);
}

.custom-popover-css {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: .5rem 1rem;
  position: relative;

  &.ember-attacher-fill {
    background-color: transparent;
    overflow: hidden;
  }

  > div[x-circle] {
    background-color: #fff;
    border-radius: 50%;
    left: 50%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: all ease-out;
    width: 120%;
    width: calc(100% + 2rem);
    will-change: transform;
    z-index: -1;

    &::before {
      content: '';
      padding-top: 100%;
      padding-top: calc(75% + 2rem);
      float: left;
    }
  }

  > div[x-arrow] {
    background-color: #fff;
    height: 10px;
    position: absolute;
    width: 10px;
    z-index: -1;
  }
}

.no-wrap {
  white-space: nowrap;
}

.underlined {
  border-bottom: 2px dotted #999;
}

.ember-power-select-option {
  color: #111;
}

@media(max-width: 400px) {
  .button.xlarge {
    min-width: 160px;
    width: 160px;
  }

  .edit-me,
  .nav {
    font-size: 15px;
  }

  .edit-section {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 331px) {
  .edit-me,
  .nav {
    font-size: 14px;
  }
}
