@import 'ember-power-select';

body {
  color: #fcfcfc;
  margin: 0;
  font-family: helvetica;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 5px;
}

p {
  margin: 0;
  padding: 6px;
  text-align: center;
}

.header {
  color: #333;
  padding: 6px;

  .title {
    font-size: 34px;
  }
}

.github-link {
  color: inherit;
  cursor: pointer;
  padding-right: 6px;
  text-decoration: none;
}

.content {
  background-color: #3a6a9a;
}

.edit-section, .section {
  padding: 18px;
}

.edit-section {
  padding-top: 0;
}

.button {
  position: relative;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
  font-size: inherit;
  font-family: monospace;
  margin: 1px;
  text-align: center;
}

.button.medium {
  min-width: 80px;
  width: 80px;
}

.button.large {
  min-width: 145px;
  width: 145px;
}

.button.xlarge {
  min-width: 185px;
  width: 185px;
}

.edit-me {
  background-color: #ddd;
  color: #333;
  font-family: monospace;
  font-size: 16px;
  padding: 8px;

  hbox {
    min-height: 26px;
  }
}

.draggable-area {
  background-color: #ddd;
  min-height: 100px;
}

.hover-me, .hover-me-2 {
  color: #111;
  cursor: inherit;
  font: inherit;
  padding: 10px;
  transform: translate(0);
}

.no-wrap {
  white-space: nowrap;
}

.ember-power-select-option {
  color: #111;
}

@media(max-width: 400px) {
  .button.xlarge {
    min-width: 160px;
    width: 160px;
  }

  .edit-me {
    font-size: 15px;
  }

  .edit-section {
    padding-left: 0;
    padding-right: 0;
  }
}

@media(max-width: 330px) {
  .edit-me {
    font-size: 14px;
  }
}
