@import 'ember-power-select';

body {
  color: #efefef;
  margin: 0;
  font-family: helvetica;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  margin: 5px;
}

.header {
  color: #333;
}

.title {
  font-size: 34px;
}

.content {
  background-color: #2e3842;
}

.section {
  overflow-x: scroll;
  padding: 12px;
}

.button {
  position: relative;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 1.75;
  color: #333;
  background-color: #fff;
  font-size: inherit;
  font-family: monospace;
  margin: 1px;
  text-align: center;
}

.button.medium {
  min-width: 80px;
  width: 80px;
}

.button.large {
  min-width: 145px;
  width: 145px;
}

.button.xlarge {
  min-width: 185px;
  width: 185px;
}

.edit-me {
  background-color: #ddd;
  color: #333;
  font-family: monospace;
  font-size: 16px;
  padding: 8px;
}

.hover-area {
  background-color: #aaa;
  min-height: 200px;
}

.hover-me {
  border-color: white;
  border-style: dotted;
  border-width: medium;
  color: #111;
  padding: 10px;
}

.no-wrap {
  white-space: nowrap;
}

.ember-power-select-option {
  color: #111;
}

@media(max-width: 400px) {
  .edit-me {
    font-size: 15px;
  }
}
