<screen><page>
  <centered fit class="header">
    <box xs="hidden" lm="visible"></box>
    <centered vertical xs="12" lm="8">
      <centered class="title">ember-attacher</centered>
      <centered>Tooltips and popovers made easy</centered>
    </centered>
    <box xs="hidden" lm="visible">
      <box align="end">
        <a href="https://github.com/kybishop/ember-popper"
           target="_blank"
           rel="noopener"
           class="github-link">GitHub</a>
      </box>
    </box>
  </centered>
  <vbox class="content">
    {{attachment-example}}
  </vbox>
</page></screen>
