<div data-element-screen>
  <div data-element-page>
    <div data-element-centered class="header">
      <div data-element-box  class="col-sm-4 visible-lm col-lm-5 hidden-xs"></div>
      <div data-element-vbox class="col-sm-16 col-lm-14 col-xs-24 align-center">
        <div data-element-centered class="title">ember-attacher</div>
        <div data-element-centered>Tooltips & popovers made easy</div>
      </div>
      <div data-element-centered class="justify-between col-sm-4 visible-lm col-lm-5 hidden-xs">
        <div data-element-hbox class="justify-end align-center flexi-fit">
          <a href="https://github.com/kybishop/ember-attacher" target="_blank" rel="noopener" class="github-link">{{svg-jar "github"}}</a>
          <a class="github-button" href="https://github.com/kybishop/ember-attacher/fork"
            data-icon="octicon-repo-forked" data-size="large"
            aria-label="Fork kybishop/ember-attacher on GitHub">Fork</a>
        </div>
      </div>
    </div>
    <div data-element-hbox class="mobile-only-header justify-between hidden-lm">
      <div data-element-centered>
        <a href="http://emberobserver.com/addons/ember-attacher">
          <img src="http://emberobserver.com/badges/ember-attacher.svg">
        </a>
      </div>
      <div data-element-centered>
        <a href="https://github.com/kybishop/ember-attacher" target="_blank" rel="noopener" class="github-link white">{{svg-jar "github"}}</a>
      </div>
    </div>
    <div data-element-vbox  class="content">
      <AttachmentExample />
    </div>
  </div>
</div>
