<div class="row">
  <div class="left">
    {{#ember-attacher arrow=true class="popper" interactive=true}}
      Hello from the left! I have no explicit target.
    {{/ember-attacher}}
  </div>
  <div class="right"></div>
</div>
<div class="row">
  <div class="left">
    {{#ember-attacher arrow=true class="popper" interactive=true showOn="click" hideOn="click"}}
      Attachment shown and hidden via click
    {{/ember-attacher}}
  </div>
</div>

{{#ember-attacher class="popper" target=".right" interactive=true options=popperOptions}}
  Hello from the right!
  <br>
  I explicitly target the right div
{{/ember-attacher}}


